body {
  font-family: "Inter", sans-serif;
  margin: 0;
  color: white;
  font-size: 16pt;
}

footer {
  color: black;
  text-align: center;
}

h1 {
  font-size: 38pt;
  width: 100%;
  color: #FF69B4;
  font-weight: 900;
  text-transform: uppercase;
}

h3 {
  text-align: center;
}

.header {
  max-width: 80vw;
  text-align: center;
  margin-bottom: 8vh;
}

.container {
  min-height: 100vh;
  background: linear-gradient(#17183b, #2e3076);
  padding: 8vh;
  padding-top: 2vh;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-container {
  flex: 1;
}

.submit {
  text-transform: uppercase;
  background-color: #FF69B4;
  border-radius: 10px;
  font-size: 18pt;
  padding: 4px;
  color: white;
  border: 1px solid black;
  padding: 8px 16px;
  margin-top: 8px;
}

form {
  text-align: center;
}

input {
  border-radius: 10px;
  border: none;
  box-shadow: none;
  padding-block: 0;
  padding-inline: 0;
  padding: 4px 6px;
  font-size: 16pt;
  margin-bottom: 4px;
  width: 40%;
  text-align: center;
}

.narrative {
  padding: 2vh 8vw;
  color: black;
  display: flex;
  align-items: center;
}

.image {
  border-radius: 100%;
  width: 300px;
  height: 300px;
}

.narrative-text {
  flex: 1;
}

.narrative-image {
  flex: 1;
  text-align: center;
}

.demo-image {
  width: 200px;
  margin-right: 4px;
}